.row {
    min-height: 100vh;
}

.title {
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    margin-top: -40px;
    text-shadow: 3px 3px 5px black;
}

.titles {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.content {
    position: absolute;
    bottom: 31%;
    left: 3%;
    display: flex;
    justify-content: center;
}

.title_2 {
    font-size: 70px;
    font-weight: 900;
    color: #fd1212;
    margin-top: -20px;
    text-shadow: 3px 3px 5px black;
}

.text {
    color: #fff;
    font-size: 20px;
    padding: 15px;
    order: 1 !important;
    margin: 0 7px;
    text-align: justify;
    word-wrap: break-word;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 400px;
}

.about {
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    position: absolute;
}

.contain {
    height: 100%;
    position: relative;
}

@media only screen and (max-width:768px) {
    .title {
        font-size: 60px;
    }
    .title_2 {
        font-size: 55px;
    }
    .text {
        font-size: 16px;
    }
}

@media only screen and (max-width:500px) {
    .titles {
        flex-direction: row;
        align-items: baseline;
    }
    .title {
        font-size: 40px;
        margin: 0 5px;
    }
    .content {
        flex-direction: column;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .title_2 {
        font-size: 35px;
    }
    .text {
        font-size: 12px;
        width: 310px;
    }
}