.row {
    padding: 16px;
}

.contain_notif {
    background-color: #ccc;
    color: #000 !important;
    top: 38px !important;
    left: -15px;
}

.title_notif {
    color: #249225;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.notif {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_notif {
    width: 150px;
    height: auto;
    object-fit: contain;
}

.notif_icon {
    color: #FF0000;
    font-size: 22px;
}

.text_notif {
    font-size: 15px;
}

@media only screen and (max-width:768px) {
    .row {
        padding: 12px;
    }
    .contain_notif {
        width: 300px;
    }
    .img_notif {
        width: 100px;
        height: auto;
        object-fit: contain;
    }
    .text_notif {
        font-size: 11px;
    }
    .notif_icon {
        font-size: 20px;
    }
    .title_notif {
        font-size: 15px;
    }
}

@media only screen and (max-width:526px) {
    .row {
        padding: 6px;
    }
    .contain_notif {
        width: 200px;
        padding: 11px 0 0 2px;
    }
    .notif {
        width: 100px;
    }
    .img_notif {
        width: 90px;
        height: auto;
        object-fit: contain;
        align-items: center;
    }
    .text_notif {
        font-size: 11px;
    }
    .notif_icon {
        font-size: 17px;
    }
    .title_notif {
        font-size: 11px;
    }
}