.row {
    padding: 16px;
}

.contain_notif {
    background-color: #000012;
    color: #000 !important;
    top: 38px !important;
    left: -15px;
}

.title_notif {
    color: #249225;
    font-size: 20px;
    font-weight: 700;
}

.notif_icon {
    color: #FF0000;
    font-size: 22px;
}
.done{
    font-size: 25px;
    color: #249225;
    font-weight: 800;
}


@media only screen and (max-width:768px) {
    .row {
        padding: 12px;
    }
    .contain_notif {
        width: 300px;
    }
    .notif_icon {
        font-size: 20px;
    }
    .done{
        font-size: 20px;
    }
    .title_notif {
        font-size: 15px;
    }
}

@media only screen and (max-width:526px) {
    .row {
        padding: 6px;
    }
    .contain_notif {
        width: 200px;
        padding: 11px 0 0 2px;
    }
    .notif_icon {
        font-size: 17px;
    }
    .done{
        font-size: 18px;
    }
    .title_notif {
        font-size: 11px;
    }
}