.home {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1500px;
    overflow: hidden;
}
.title_shop{
    color: #fff;
    margin: 20px 10px;
    font-size: 23px;
    font-weight: 700;

}
.text_hero {
    color: #fd1212;
    font-size: 90px;
    white-space: nowrap;
    width: 20em;
    font-family:'Lobster', cursive,sans-serif;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    text-shadow: 3px 3px 3px black;
    animation: type 10s steps(1000, end);
}
@keyframes type{ 
    from { 
         width: 0; 
         } 
     }
.container {
    width: 100%;
}

.img {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/ps5.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
}
@media only screen and (max-width:768px){
    .text_hero {
        font-size: 60px;
    }
    .title_shop{
        font-size: 17px;
    }
    .img{
        background-size: contain;
    }
}
@media only screen and (max-width:526px){
    .text_hero {
        font-size: 40px;
    }
    .title_shop{
        font-size: 12px;
    }
}