.home {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1500px;
    overflow: hidden;
}

.title_shop {
    color: #fff;
    margin: 20px 10px;
    font-size: 23px;
    font-weight: 700;
}

.hero {
    margin: 5rem 0;
}

.text_hero {
    color: #fd1212;
    font-size: 90px;
    font-family: 'Lobster', cursive, sans-serif;
    text-align: center;
    font-weight: 700;
    text-shadow: 3px 3px 3px black;
    animation-name: winking;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes winking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    1000% {
        opacity: 0;
    }
}

.container {
    width: 100%;
}

.img {
    width: 100%;
    overflow: hidden;
    background: #ff0084;
    background: -webkit-linear-gradient(to right, #33001b, #ff0084);
    background: linear-gradient(to right, #33001b, #ff0084);
}

@media only screen and (max-width:768px) {
    .text_hero {
        font-size: 60px;
    }
    .title_shop {
        font-size: 17px;
    }
    .img {
        background-size: contain;
    }
    .hero {}
}

@media only screen and (max-width:526px) {
    .text_hero {
        font-size: 40px;
        text-shadow: 2px 2px 2px black;
    }
    .title_shop {
        font-size: 12px;
    }
}