.home {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1500px;
}

.text_hero {
    color: #fd1212;
    font-size: 90px;
    white-space: nowrap;
    width: 20em;
    font-family:'Lobster', cursive,sans-serif;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    text-shadow: 4px 4px black;
    animation: type 10s steps(1000, end);
}
@keyframes type{ 
    from { 
         width: 0; 
         } 
     }
.container {
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;
    gap: 10px;
}

.img {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/ps5.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
}
@media only screen and (max-width:768px){
    .text_hero {
        font-size: 60px;
    }
    .row{
        grid-template-columns: 1fr 1fr;
    }
   
    .img{
        background-size: contain;
    }
}
@media only screen and (max-width:526px){
    .text_hero {
        font-size: 40px;
    }
}