@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
  font-family:'Samim' ;
  src: url("../fonts/Samim.woff") format("woff");
}
*{
  margin: 0;
  font-family: 'Samim',sans-serif
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #2C2E43 !important;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
  
}

