.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #fff;
    margin: 8px auto;
    border-radius: 6px;
}

.detail {
    display: flex;
    padding: 4px;
    flex-direction: column;
    justify-content: flex-start;
    color: #000;
    font-size: 18px;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4px 0;
}

.title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #FF0000;
}

.price {
    background-color: #249225;
    width: 100%;
    text-align: center;
    margin-top: 4px;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
}

.icon {
    font-size: 38px;
    padding: 4px;
    margin: 0px 7px;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    border: 1px solid #ccc;
}

.left_border {
    border-left: 1px solid #fff;
}

.right_border {
    border-right: 1px solid #fff;
}

.brand {
    font-size: 38px;
    margin: 0 10px;
}

.value {
    margin: 0 10px;
}

@media only screen and (max-width:768px) {
    .detail {
        font-size: 16px;
    }
    .icon {
        font-size: 27px;
    }
    .brand {
        font-size: 30px;
    }
}
@media only screen and (max-width:526px) {
    .detail {
        font-size: 12px;
        padding: 2px;
    }
    .icon {
        font-size: 24px;
    }
    .brand {
        font-size: 22px;
        margin: 0 4px;
    }
    .color{
        width: 20px;
        height: 20px;
    }
    .box{
        padding: 2px;
    }
    .value {
        margin: 0 4px;
    }
}