.row{
    min-height: 100vh;
}
.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.login_container {
    border: 3px dashed #fd1212;
    padding: 25px;
    width: 50%;
    border-radius: 10px;
    margin: 20px 0;
}

.form {
    overflow: hidden;
}

.label {
    color: #fff;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 800;
}

.input {
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    outline: none;
    border: none;
    background-color: black;
    border-bottom: 1px solid #fd1212;
    color: #fff;
    font-size: 15px;
}

.err {
    color: #fd1212;
    font-size: 15px;
    margin: 10px 0;
}

.text {
    color: #fd1212;
    font-size: 16px;
    margin: 15px 0;
}

.link {
    margin: 0 5px;
    color:rgb(5, 184, 255)
}

.sign {
    font-family: 'Lobster', cursive, sans-serif;
    color: #fd1212;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    font-family: 'Lobster', cursive, sans-serif;
    color: #fd1212;
    font-size: 60px;
    margin: 25px 0;
}

.btn {
    border: 1px solid;
    margin-top: 40px;
    border: none;
    background-image: linear-gradient(to right, #f87878, #ee1f1f, #f34141, #fd1212);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #fffefe;
    border-radius: 20px;
    transition: all .5s;
    background-size: 300% 100%;
}

.btn:hover {
    background-position: 100% 0;
}

@media only screen and (max-width:768px) {
    .login_container {
        width: 70%;
        padding: 20px;
        margin: 20px 0;
    }
    .logo {
        font-size: 45px;
    }
    .sign {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .label {
        font-size: 15px;
        margin-top: 25px;
    }
    .input {
        margin-top: 15px;
        font-size: 13px;
    }
    .text {
        font-size: 13px;
    }
    .err{
        font-size: 12px;
    }
    .btn {
        padding: 8px;
        font-size: 12px;
        margin-top: 25px;
    }
}

@media only screen and (max-width:526px) {
    .login_container {
        padding: 17px;
        margin: 15px 0;
    }
    .logo {
        font-size: 40px;
    }
    .sign {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .label {
        font-size: 14px;
        margin-top: 25px;
    }
    .text {
        font-size: 10px;
    }
    .err{
        font-size: 10px;
    }
    .btn {
        padding: 8px;
        font-size: 12px;
    }
}