.menu {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-family: 'Lobster', cursive,sans-serif;
    color: #fd1212;
    font-size: 40px;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 10px;
    text-decoration: none;
}

.search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px !important;
    overflow: hidden;
}

.input {
    height: 30px;
    padding: 10px;
    border: none !important;
    outline: none;
    width: 100%;
}

.input:focus {
    outline: none;
}

.searchIcon {
    height: 30px ;
    width: 40px;
    font-size: 22px;
    background-color: #fd1212;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.icons{
    display: flex;
    height: 100%;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    color: rgb(255, 255, 255);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.options:hover {
    color: #fd1212
}

.lineTwo {
    font-size: 15px ;
    font-weight:600;
}

.count {
    font-size: 15px;
    font-weight: 800;
    margin: 0 10px;
}

.basket {
    display: flex;
    align-items: center;
    color: #fd1212;
    font-size: 28px;
}

.bar {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 28px;
    margin: 0 10px;
    transition: all .5s ease-in-out;
    display: none;
}
.icon_bar{
    display: flex;
    height: 100%;
    align-items: center;
}
.bar:hover {
    color: #fd1212;
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    .nav_menu {
        position: fixed;
        top: 3rem;
        background-color: black !important;
        padding: 15px 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: all 0.5s ;
    }
    .search{
        width: 90%;
    }
    .nav{
        width: 100%;
        margin: 25px 0 !important;
    }
    .bar{
        display: block;
    }
    .logo {
        font-size: 30px;
    }
}
@media only screen and (max-width:500px) {
    .nav_menu {
        position: fixed;
        top: 3rem;
        padding: 15px 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: all 0.5s ;
    }
    .search{
        width: 90%;
    }
    .nav{
        width: 100%;
        margin: 25px 0 !important;
    }
    .lineOne{
        font-size: 10px ;
    }
    .lineTwo{
        font-size: 12px ;
    }
    .basket{
        font-size: 20px;
    }
    .input{
        height: 7px;
    }
    .searchIcon{
        height: 21px;
    }
    .bar{
        display: block;
        font-size: 20px;
    }
    .logo {
        font-size: 25px;
    }
}