.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
}

.img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.info{
    height: 100px;
    margin-bottom: 15px;
    color: #000000;
    width: 100%;
    font-weight: 600;
}
.price{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
}
.btn{
    border: 1px solid ;
    margin-top: 10px;
    border: none;
    background-color: #fd1212;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: #fffefe;
    border-radius: 20px;
    transition: all .3s; 
}
.btn:hover{
    background-color: #fc7d7d;
}