.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    height: 100%;
    min-width: 100px;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
    transition: all .3s ease-in;
}
.product:hover {
    box-shadow: 2px 2px 30px #FF0000;
    transform: translateY(-10px);
}
.title{
    font-size:18px ;
    font-weight:800;
    color: #FF0000;
    margin-bottom: 10px;
}
.contain_notif {
    background-color:#2C2E43 ;
    color: white !important;
    top:38px !important;
    left: -15px;
}

.notif_icon {
    color: #FF0000;
    font-size: 22px;
}

.title_notif {
    color: #FF0000;
    font-size: 20px;
    font-weight: 700;
}

.notif {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_notif {
    width: 150px;
    height: auto;
    object-fit: contain;
}

.text_notif {
    font-size:15px ;
}

.img {
    max-height: 170px;
    width: 100%;
    margin: 4px 0;
    object-fit: contain;
}

.info {
    color: #000000;
    width: 100%;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 16px;
}

.price {
    margin: 5px 0;
    color: #FF0000;
    font-size:18px;
    font-weight: 800;
}

@media only screen and (max-width:768px) {
    .product {
        padding: 10px;
    }
    .product:hover{
        box-shadow: 0px 0px 0px !important;
        transform: translateY(0px);
    }
    .info {
        font-size: 13px;
    }
    .title{
        font-size:14px ;
    }
    .price {
        font-size: 14px;
    }
    .img {
        height: 130px;
    }
    .contain_notif {
        width: 300px;
    }
    .img_notif {
        width: 100px;
        height: auto;
        object-fit: contain;
    }
    .text_notif {
        font-size: 11px;
    }
    .notif_icon {
        font-size: 20px;
        
    }
    .title_notif {
        font-size: 15px;
    }
}

@media only screen and (max-width:526px) {
    .product {
        padding: 8px;
        margin: 0 3px;
    }
    .info {
        font-size: 10px;
    }
    .title{
        font-size:12px ;
    }
    .price {
        font-size: 12px;
    }
    .img {
        height: 80px;
    }
    .contain_notif {
        width: 200px;
        padding: 11px 0  0 2px;
    }
    .notif{
        width: 100px;
    }
    .img_notif {
        width: 90px;
        height: auto;
        object-fit: contain;
        align-items: center;
    }
    .text_notif {
        font-size: 11px;
    }
    .notif_icon {
        font-size: 17px;
        
    }
    .title_notif {
        font-size: 11px;
    }
}