.subtotal{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}
.count{
    margin: 20px 0; 
    font-weight: 600;
}
.total{
    margin: 20px 0;
    font-weight: 800;
    font-size: 25px;
}
.btn{
    border: 1px solid ;
    margin-top: 10px;
    border: none;
    background-color: #fd1212;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: #fffefe;
    border-radius: 20px;
    transition: all .3s; 
}
.btn:hover{
    background-color: #fc7d7d;
}
@media only screen and (max-width:768px){
   .subtotal{
       padding: 8px;
   }
    .count{
        font-size: 13px;
    }
    .total{
        font-size:18px ;
    }
    .btn{
        padding: 10px;
        font-size: 12px;
    }
}
@media only screen and (max-width:768px){
    .subtotal{
        padding: 6px;
    }
     .count{
         font-size: 10px;
     }
     .total{
         font-size:15px ;
     }
     .btn{
         padding: 8px;
         font-size: 10px;
     }
}